body{
    background-color: rgb(167, 211, 148);
}
p {

    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;

}
.pic101 {
    
    
    text-align:center;
}

.intro {
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    color: rgb(232, 84, 30);
}

h1 {
    text-align: center;
    color: rgb(227, 109, 31);
}


.topic {
    text-align: center;
    color: black;
    

}
#pic2{
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}

#pic3{
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#pic4{
    width: 495px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;


}

#pic1{
    width: 400px;
    height: 250px;
    

}

a {
    text-align: center;
    font-size: 1.5rem;

}

.nav {
    color: rgb(255, 119, 70);

}

.container-fluid{
    color: coral
}

.imgcentre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 17rem;
    width: 20rem;
    margin-top: 1rem;
  
}

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    padding: 20px;
    background: rgb(5, 112, 5);
  }
  
  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(142, 243, 142);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: rgb(142, 243, 142);
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(142, 243, 142);
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: rgb(142, 243, 142);
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }