/* body{
    background-color: rgb(167, 211, 148);
} */

/* ------ Code from scroll ------ */

body {
  padding: 0;
  margin: 0;
  min-height: 50vh;
  background-color: rgb(56, 120, 33);
  animation: body 1s linear;
}
@keyframes body {
  to {
    background-color: rgb(19, 97, 24);
  }
}
.progress {
  height: 3px;
  width: 0%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  animation: progress 1s linear;
}
@keyframes progress {
  to {
    background-color: rgb(0, 0, 0);
    width: 100%;
  }
}

:root * {
  /* Pause the animation */
  animation-play-state: paused;
  /* Bind the animation to scroll */
  animation-delay: calc(var(--scroll) * -1s);
  /* These last 2 properites clean up overshoot weirdness */
  animation-iteration-count: 1;
  animation-fill-mode: both;
} 

/*  -- ----- End of code from scroll animation ----- */

p {

    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;
    color: black;
    

}
.pic101 {
    text-align:center;
}

.pic102 {
  text-align:center;
  
}
.intro {
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    color: rgb(232, 84, 30);
}

h1 {
    text-align: center;
    color: rgb(227, 109, 31);
}


.topic {
    text-align: center;
    color: black;
    

}

#pic2{
    width: 39rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
}
#pic8{
  width:35rem;
  height: 35rem;
  margin-left: auto;
  margin-right: auto;

}

#pic3{
    width: 39rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;
}

#pic4{
    width: 39rem;
    height: 30rem;
    margin-left: auto;
    margin-right: auto;


}

#pic1{
    width: 400px;
    height: 250px;
    

}

a {
    text-align: center;
    font-size: 1.5rem;

}

.nav {
    color: rgb(255, 119, 70);

}

.container-fluid{
    color: coral
}

.imgcentre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 17rem;
    width: 20rem;
    margin-top: 1rem;
  
}

 * {
    box-sizing: border-box;
  } 
  
  /* body {
    font-family: Arial;
    padding: 2rem;
    background: rgb(5, 112, 5);
  } */
  
  /* Header/Blog Title */
  .header {
    padding: 2rem;
    font-size: 3rem;
    text-align: center;
    background: rgb(142, 243, 142);
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 2rem;
  }
  
  /* Fake image */
  .fakeimg {
    background-color: rgb(142, 243, 142);
    width: 100%;
    padding: 20px;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: rgb(142, 243, 142);
    padding: 2rem;
    margin-top: 2rem;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 2rem;
    text-align: center;
    background: rgb(142, 243, 142);
    
  }


 



  @keyframes body {
    0% {
      background-color: rgb(34, 86, 13);
      color: rgb(36, 88, 32);
    }
    100% {
      background-color: rgb(61, 109, 22);
      color: rgb(36, 88, 32);
    }
  }
  
  ::-webkit-scrollbar {
    background: currentcolor;
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: currentcolor;
  }
  ::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
  }
  
  .progress {
    height: 3px;
    width: 0%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    animation: progress 1s linear;
  }
  @keyframes progress {
    0% {
      background-color: #fff;
      width: 0%;
    }
    100% {
      background-color: rgb(20, 255, 226);
      width: 100%;
    }
  }
  
  .cube-wrap {
    --size: 30vmin;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    perspective: 100vmin;
  }
  .cube {
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
    animation: cube 1s linear;
  }
  @keyframes cube {
    0% {
      transform: rotateX(0deg) rotateZ(45deg) rotateY(-45deg);
    }
    100% {
      transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
    }
  }
  
  .side {
    position: absolute;
    width: var(--size);
    height: var(--size);
    background-color: #eee;
    backface-visibility: visible;
    top: calc(var(--size) * -.5);
    left: calc(var(--size) * -.5);
  }
  .top {
    background-color: #fff;
    transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
  }
  .bottom {
    background-color: #999;
    transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
  }
  .left {
    background-color: #ccc;
    transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
  }
  .right {
    background-color: #ddd;
    transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
  }
  .front {
    background-color: #aaa;
    transform: translateZ(calc(var(--size) * .5));
  }
  .back {
    background-color: #bbb;
    transform: translateZ(calc(var(--size) * -.5));
  }
  
  :root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }