body{
    background-color: rgb(167, 211, 148);
}
p {

    font-size: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    text-align: center;

}
.pic101 {
    
    
    text-align:center;
}

.intro {
    font-size: 1.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    color: rgb(232, 84, 30);
}

h1 {
    text-align: center;
    color: rgb(227, 109, 31);
}


.topic {
    text-align: center;
    color: black;
    

}
#pic2{
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;

}

#pic3{
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

#pic4{
    width: 495px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;


}

#pic1{
    width: 400px;
    height: 250px;
    

}

a {
    text-align: center;
    font-size: 1.5rem;

}

.nav {
    color: rgb(255, 119, 70);

}

.container-fluid{
    color: coral
}

.imgcentre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 17rem;
    width: 20rem;
    margin-top: 1rem;
  
}
